@model IEnumerable<Shortener.Models.UrlConfigs>
@using Microsoft.Extensions.Configuration
@inject IConfiguration _config
@{
    ViewData["Title"] = "Acortador";
}
<div class="content">
<nav class="navbar text-right" style="display:block;">
    <div class="container-fluid">
        <div class="row col-xs-12 g-2 align-items-center mb-2">
            <div class="col-auto">
                <label for="txtFiltro" class="col-form-label">Filtro</label>
            </div>
            <div class="col-auto">
                <input  id="txtFiltro" type="text" class="form-control">
            </div>
            <div class="col-auto">
                <button id="btnFiltrar" type="button" class="btn btn-primary">Filtrar</button>
            </div>
            <div class="col-auto">
                <button id="btnLimpiarFiltro" type="button" class="btn btn-primary">Limpiar</button>
            </div>
        </div>
        <div class="row g-2 align-items-center mb-2">
            <div class="col-auto">
                <button type="button" id="btnNew" class="btn btn-primary"><i class="fa-regular fa-file"></i> Nuevo</button>
            </div>
            @*<div class="col-auto">
                <a id="btnExcel" class="btn btn-success" asp-action="Excel"><i class="fas fa-file-excel"></i> Exportar Excel</a>
            </div>*@
        </div>        
    </div>
</nav>
</div>

<div class="dataTables_wrapper dt-bootstrap4">
<table class="table table-bordered table-hover dataTable dtr-inline" id="tblDatos" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodProducto)
            </th>
            <th>
                <p style="text-wrap:inherit;word-wrap: break-word!important;overflow:hidden;">@Html.DisplayNameFor(model => model.UrlLarga)</p>
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.UrlCorta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaExpira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habilitado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumVisitas)
            </th>
            <th style="text-align:center;">Opciones</th>
        </tr>
    </thead>
    <tbody id="tbl_body">
        
    </tbody>
</table>
</div>
<div class="modal" id="ventana_modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ventana_modal_title" class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="ventana_modal_body" class="modal-body">
                
            </div>
            <div hidden id="ventana_modal_footer" class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">        
        var urlUpsert = "@Url.Action("Upsert", "Acortador")";
        var serverUrl = "@_config.GetSection("ServerShortener").Value.ToString()";
        debugger;
    </script>
    <script src="@Url.Content("~/js/acortador.js")"></script>
}
